div {
	text-align: right;
}

table {
	margin: 20 px;
}

td {
	padding: 5px 20px 5px;
}

#adv_srch {
	color: white;
	background-color: blue;
	/*margin-left: 570px; for method 1*/
	border : none;
	padding: 10px;
}

.adv_fields input[type=text] {
	border: 1px solid lightgrey;
	width: 500px;
	padding: 7px;
	/* to remove default browser's outline value around input when it gets focus */
	outline: none;
}

.adv_fields input[type=text]:focus {
	border: 1px solid blue;
}


.search input[type=text] {
	margin-top : 200px;
	/*margin-left: 400px; for method 1 */
	padding: 10px;
	width: 600px;
	border: 1px solid lightgrey;
	border-radius: 20px;
	outline: none;
}

.search input[type=submit] {
	padding:10px;
	margin: 7px;
	width: 120px;
	font-size: 13px;
	border: none;
}

.search input[type=submit]:hover, .search input[type=text]:hover, .search input[type=text]:focus {
	/*border: 1px solid grey;*/
	box-shadow: 0 0 2px 2px lightgrey;
}

/* for method 1 when i didn't know to align elements to center
#srch_button {
	margin-left: 567px;
}

#img_srch_button {
	margin-left: 650px;
}	
*/

.input, .search {
	text-align: center;
}